framework: auto-detect

source https://api.nuget.org/v3/index.json

nuget Fsharp.Core
nuget FSharp.Data.GraphQL.Server.Middlewares
nuget Giraffe
nuget System.Reactive.Linq

group Tests
source https://api.nuget.org/v3/index.json

nuget Cvdm.ErrorHandling
nuget Expecto.FsCheck
nuget Expecto.Hopac
nuget YoloDev.Expecto.TestSdk
nuget Expecto.BenchmarkDotNet